<div class="dropdown dropdownFilter">
    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">Zone</button>
    <div class="dropdown-menu">
        <div class="container-search">
            <input type="text" class="dropdown-search form-control" placeholder="Search...">
        </div>

        <label class="dropdown-item" data-item="dropdownFilter">
            <input type="checkbox" name="todos" class="parent-all" data-group="._Zone">
            <span>All</span>
        </label>

        <label class="dropdown-item" data-item="dropdownFilter">
            <input type="checkbox" name="africa" value="AFRICA" data-item="checkbox" class="_Zone">
            <span>AFRICA</span>
        </label>
        <label class="dropdown-item" data-item="dropdownFilter">
            <input type="checkbox" name="apac" value="APAC" data-item="checkbox" class="_Zone">
            <span>APAC</span>
        </label>
        <label class="dropdown-item" data-item="dropdownFilter">
            <input type="checkbox" name="eur" value="EUR" data-item="checkbox" class="_Zone" checked>
            <span>EUR</span>
        </label>
        <label class="dropdown-item" data-item="dropdownFilter">
            <input type="checkbox" name="ma" value="MA" data-item="checkbox" class="_Zone" checked>
            <span>MA</span>
        </label>
        <label class="dropdown-item" data-item="dropdownFilter">
            <input type="checkbox" name="na" value="NA" data-item="checkbox" class="_Zone" checked>
            <span>NA</span>
        </label>
        <label class="dropdown-item" data-item="dropdownFilter">
            <input type="checkbox" name="sa" value="SA" data-item="checkbox" class="_Zone" checked>
            <span>SA</span>
        </label>
    </div>
</div>

