---
import Layout from '../layouts/Layout.astro';
import Slider from './_slider.astro';
---

<Layout>
	<div class="card">
        <div class="card-body">
            <form>
				<Slider />
			</form>
		</div>
	</div>

	
</Layout>
